/* the Gallery (Unordered List) - position:relative is for ie7 */
#gallery {
	position:relative;
	/*float:left;*/
	margin-top:3px;
	overflow:hidden;
	height:630px 
	/* FF .8 */;
	width:444px;/*222px;*/
	background:#80080;
	/*border:3px solid #000;*/
	z-index:1/* IE Mac */
	}
#gallery li {display:inline;overflow:hidden;height:120px}
#gallery li img {/*border:3px solid #000;*/
	/*width:105px;height:100px;*/
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-top:auto;
	margin-bottom: auto;
	padding: 0px;
	text-align:center;
	position:relative;z-index:10}
/* overflow:hidden will break FF 0.8 */ 
#gallery li a {display:block;float:left;height:120px !important /* IE5 Mac */;width:111px;position:relative;color:#fff}
#gallery li img:hover {color:#000;background:#fff} 
#gallery li a:hover img,
#gallery li a:focus img,#gallery li a:active img {border-color:#fff}
#gallery span {position:absolute;top:0;left:0;margin-top:2.2em;padding:0 3px;z-index:1}